@font-face{
    font-family: 'Immonolt10-italic';
    src: url(/fonts/Latin-Modern-Mono/lmmonolt10-italic.otf);
}

@font-face{
    font-family: 'Immonolt10-regular';
    src: url(/fonts/Latin-Modern-Mono/lmmonolt10-regular.otf);
}

@font-face{
    font-family: 'Immonocaps10-oblique';
    src: url(/fonts/Latin-Modern-Mono/lmmonocaps10-oblique.otf);
}

@font-face{
    font-family: 'Immonocaps10-regular';
    src: url(/fonts/Latin-Modern-Mono/lmmonocaps10-regular.otf);
}

@font-face{
    font-family: 'Immonolt10-bold';
    src: url(/fonts/Latin-Modern-Mono/lmmonolt10-bold.otf);
}

@font-face{
    font-family: 'Immonolt10-boldoblique';
    src: url(/fonts/Latin-Modern-Mono/lmmonolt10-boldoblique.otf);
}

@font-face{
    font-family: 'Immonolt10-oblique';
    src: url(/fonts/Latin-Modern-Mono/lmmonolt10-oblique.otf);
}

@font-face{
    font-family: 'Immonolt10-regular';
    src: url(/fonts/Latin-Modern-Mono/lmmonolt10-regular.otf);
}

@font-face{
    font-family: 'Immonoltcond10-oblique';
    src: url(/fonts/Latin-Modern-Mono/lmmonoltcond10-oblique.otf);
}

@font-face{
    font-family: 'Immonoltcond10-regular';
    src: url(/fonts/Latin-Modern-Mono/lmmonoltcond10-regular.otf);
}

@font-face{
    font-family: 'Immonoprop10-oblique';
    src: url(/fonts/Latin-Modern-Mono/lmmonoprop10-oblique.otf);
}

@font-face{
    font-family: 'Immonoprop10-regular';
    src: url(/fonts/Latin-Modern-Mono/lmmonoprop10-regular.otf);
}

@font-face{
    font-family: 'Immonoproplt10-bold';
    src: url(/fonts/Latin-Modern-Mono/lmmonoproplt10-bold.otf);
}

@font-face{
    font-family: 'Immonoproplt10-boldoblique';
    src: url(/fonts/Latin-Modern-Mono/lmmonoproplt10-boldoblique.otf);
}

@font-face{
    font-family: 'Immonoproplt10-oblique';
    src: url(/fonts/Latin-Modern-Mono/lmmonoproplt10-oblique.otf);
}

@font-face{
    font-family: 'Immonoproplt10-regular';
    src: url(/fonts/Latin-Modern-Mono/lmmonoproplt10-regular.otf);
}

@font-face{
    font-family: 'Immonoslant10-regular';
    src: url(/fonts/Latin-Modern-Mono/lmmonoslant10-regular.otf);
}