// Variables

// Restated Bootstrap Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$primary: #ee0979 !default;
$secondary: #ff6a00 !default;
$gradient: -webkit-linear-gradient(to right, #799F0C, #ACBB78);



//blog variables
// Variables

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #0085A1 !default;
$cyan:    #17a2b8 !default;

$primary:       $teal !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;


$font-Immonolt10Italic : 'Immonolt10-italic';
$font-Immonolt10Regular : 'Immonolt10-regular';
$font-Immonocaps10Oblique : 'Immonocaps10-oblique';
$font-Immonocaps10Regular : 'Immonocaps10-regular';
$font-Immonolt10Bold : 'Immonolt10-bold';
$font-Immonolt10Boldoblique : 'Immonolt10-boldoblique';
$font-Immonolt10Oblique : 'Immonolt10-oblique';
$font-Immonoltcond10Oblique : 'Immonoltcond10-oblique';
$font-Immonoltcond10Regular : 'Immonoltcond10-regular';
$font-Immonoprop10Oblique : 'Immonoprop10-oblique';
$font-Immonoprop10Regular : 'Immonoprop10-regular';
$font-Immonoproplt10Bold : 'Immonoproplt10-bold';
$font-Immonoproplt10Boldoblique : 'Immonoproplt10-boldoblique';
$font-Immonoproplt10Oblique : 'Immonoproplt10-oblique';
$font-Immonoproplt10Regular : 'Immonoproplt10-regular';
$font-Immonoslant10Regular : 'Immonoslant10-regular';
